/**
 * src/vue/globals.scss
 * Global styling rules.
 * © George Pickering 2020, https://github.com/geopic
 */

@charset 'UTF-8';
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

// Media query 'min-width' sizes
$medquery-min-width-01: 500px;
$medquery-min-width-02: 750px;
$medquery-min-width-03: 1020px;
$medquery-min-width-04: 1400px;
$medquery-min-width-05: 1860px;

.theme-light {
  --bgColor: #fafafa;
  --color: #222;
  --accent: #0085dd;
}

.theme-dark {
  --bgColor: #222;
  --color: #fafafa;
  --accent: #ffa034;
}

a {
  color: var(--accent);
  text-decoration: none;
}

button {
  background-color: inherit;
  border: 2px solid var(--accent);
  border-radius: 5px;
  color: inherit;
  cursor: pointer;
  padding: 8px 20px;
  transition: all 250ms;

  &:hover,
  &:active {
    box-shadow: 3px 3px 3px var(--accent);
    padding-left: 21px;
  }
}

label {
  font-weight: bold;
}
